# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
*.dist-info/
build/
dist/

# Venv
.venv/
venv/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Caches & logs
.pytest_cache/
.mypy_cache/
.cache/
*.log

# App artifacts
captures/
captures/**/*
models/*.pt
models/*.onnx
models/*.engine
models/**/best*.pt
data/
logs/
runs/
# Env / secrets
.env

# Media (ak by si chcel ukladať videá/obrázky do repo koreňa)
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg
