# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.ipynb_checkpoints/

# VSCode
.vscode/

# Build/output
dist/
build/
*.spec

# Dáta a snímky
datasets/
recipes/*/*.png
recipes/*/*.jpg
recipes/*/*.bmp
history/
run_logs/

# OS
.DS_Store
Thumbs.db

# Lokálne nastavenia (citlivé)
settings.json

# Výstupy aplikácie
filmstrip/
export/

# Modely a váhy (ak budeš používať)
models/
*.pt
*.onnx

# Logy a cache
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ďalšie IDE
.idea/
